bs4
pymongo
datetime
pandas
SnowNLP
emoji
pyshorteners
scipy
line-bot-sdk==1.8.0
flask==1.1.1
gunicorn
imgurpython==1.1.7
requests
numpy
beautifulsoup4==4.8.1
schedule
pandas_datareader
html5lib
yfinance==0.1.50
twder
selenium==3.8.0
pillow==5.3.0
flask-sqlalchemy==2.4.1
psycopg2==2.8.5
